!!!
%html
  %body
    .flash-box
      .notice 
    .wrapper
      = render 'devise/shared/side_bar'
      .chat-main
        .main-header
          .main-header__left-box
            %h2.main-header__left-box__current-group
              = @group.name
              %ul.main-header__left-box__member
                Members: 
                - @group.users.each do |user|
                  = user.name
          .main-header__edit-btn 
            = link_to "Edit" , edit_group_path(current_user.id), method: :get, class: 'btn'
        .message
          = render @messages
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message' 
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'
        -# .form
        -#   %form#new_message.new_message{accept:{charset: "UTF-8", action: "/groups/2418/messages", enctype: "multipart/form-data", method: "post"}}
        -#     %input{name: "authenticity_token", type: "hidden"}/
        -#     .form-inbox
        -#       %input#message_content.form-inbox__text{name: "message[content]", placeholder: "type a message", type: "text"}/
        -#       %label.form-inbox__image{for: "message_image"}
        -#         %i.fa.fa-image
        -#     %input.submit-btn{name: "commit", type: "submit", value: "Send"}/
            